package handlers


import (
    "github.com/gofiber/fiber/v2"
    "github.com/{{.GitHubUsername}}/{{.ProjectName}}/internal/services")


func Greet(c *fiber.Ctx) error {
    return services.GreetUser(c)
}