package router


import (
    "log"

    "github.com/gofiber/fiber/v2"
    "github.com/{{.GitHubUsername}}/{{.ProjectName}}/internal/handlers"
)

func SetupRoutes(app *fiber.App) {
    app.Get("/", handlers.Greet)
    log.Println("Routes are setup")
}