module github.com/{{.GitHubUsername}}/{{.ProjectName}}

go 1.23

require (
	github.com/gofiber/fiber/v2 v2.52.5
	github.com/joho/godotenv v1.5.1
	github.com/lib/pq v1.10.9
	go.mongodb.org/mongo-driver v1.17.1
)